@font-face {
    font-family: "Minecraft";
    src: url("/fonts/Minecraft.ttf");
}
a{
    color: white;
    text-decoration: none;
}

*{
    font-family: "Minecraft";
    margin: 0;
}
.Mutear{
    background-color: white;
    color: black;
    position: absolute;
    top: 90vh;
    left: 2vw;
    padding: 1em;
    display: flex;
    cursor: pointer;
    border-radius: 50%;
    transition: all 300ms ease;
}
.Mutear i{
    scale: 2;
}
.Change{
    background-color: white;
    color: black;
    position: absolute;
    top: 90vh;
    left: 94vw;
    padding: 1em;
    display: flex;
    cursor: pointer;
    border-radius: 50%;
    transition: all 300ms ease;
}
.Change i{
    scale: 2;
}
.Cuerpo{
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(https://i.redd.it/bpxxqqvps4h91.gif);
    transition: all 300ms ease;
}
.TopBar{
    transition: all 300ms ease;
    width: 100vw;
    position:fixed;
    background-color: black;
    height: 3.5em;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ContentBar{
    display: flex;
    justify-content: center;
    gap: 2em;
}
.ContentBar p{
    font-size: 20px;
    cursor: pointer;
}
.rightBar{
    display: flex;
    justify-content: space-evenly;
    padding-left: 2em;
    gap: 2em;
}
.rightBar i{
    scale: 1.5;
    cursor: pointer;
    transition: all ease 0.2s;
}
.rightBar i:hover{
    scale: 1.8;
}
.MidCuerpo{
    transition: all 300ms ease;
    margin-top: 1em;
    color: #ffffff;
    width: 100vw;
    height: 95vh;
    display: flex;
    justify-content: center;
}
.MidContent{
    text-align: center;
    font-size: 50px;
    display: flex;
    align-items: center;
    gap: 4em;
    flex-wrap: wrap;
}
.TextAbout{
    font-size: 30px;
    margin-bottom: 1em;
}
.Text1{
    width: 10em;
    background-color: #c59500;
    padding: 0.5em;
}
.Text2{
    background-color: black;
    padding: 0.5em;
}
.colortextG{
    color: #4e96ff;
}
.MidContentLow{
    width: 100vw;
    background-color: black;
}
.LowCuerpo{
    transition: all 300ms ease;
    color: white;
    display: flex;
    justify-content: center;
}
.MidContentLow{
    font-size: 50px;
    text-align: center;
    padding-top: 1em;
}
.ContentBio{
    font-size: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.TextBio{
    width: 20em;
}
.ImgBio img{
    width: 400px;
    height: auto;
    border: 5px solid white;
}
.MoreText{
    margin-top: 2em;
    display: flex;
    justify-content: space-evenly;
}

.Proyectos{
    padding-top: 3em;
    transition: all 300ms ease;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 50px;
}
.BoxProjects{
    font-size: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.ImgP img{
    width: 400px;
    height: 200px;
    border: 2px solid white;
}
.ImgP2 img{
    width: 400px;
    height: 200px;
    border: 2px solid white;
    margin-bottom: 0.5em;
    cursor: pointer;
}
.Formulario{
    padding-top: 1em;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 50px;
    padding-bottom: 1em;
}
.Form{
    color: #e924ef;
    margin-bottom: 0.5em;
}
.Datos{
    margin: 0 auto;
    width: 20em;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    text-align: center;
}

.Datos input{
    height: 2.5em;
}
.Modi1{
    color: #e924ef;
    font-size: 55px;
}
.Modi2{
    color: #38780f;
    font-size: 55px;
}
@media only screen and (max-height: 1000) {
    .Cuerpo{
        background-size:cover;
        background-position-x: 50%;
    }
}
@media only screen and (max-width: 768px) {
    .Text1{
        width: 10em;
        background-color:unset;
        padding: 0.5em;
    }
    .Text2{
        background-color: unset;
        padding: 0.5em;
    }
    .ContentBar{
        display: none;
    }
    .Cuerpo{
        background-size:cover;
        background-position-x: 50%;

    }
    .MidContent{
        text-align: center;
        font-size: 30px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin-top: 2em;
        align-items: center;
        gap: 0;
    }
    .Change{
        top: 85vh;
        left: 85vw;
        padding: 1em;
        display: flex;
        cursor: pointer;
        border-radius: 50%;
        transition: all 300ms ease;
    }
    .Mutear{
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        position: absolute;
        top: 85vh;
        left: 2vw;
        padding: 1em;
        display: flex;
        cursor: pointer;
        border-radius: 50%;
        transition: all 300ms ease;
    }
    .MidContentLow{
        font-size: 30px;
        padding: 1em;
    }
    .Modi1{
        font-size: 35px;
    }
    .Modi2{
        font-size:35px;
    }
    .ContentBio{
        font-size: 30px;
        flex-wrap: wrap;
    }
    .ImgBio img{
        width: 300px;
        height: auto;
    }
    .MoreText{
        flex-wrap: wrap;
    }
    .Proyectos{
        padding-top: 1em;
    }
    .BoxProjects{
        padding-top: 2em;
        font-size: 30px;
        display: flex;
        justify-content: space-evenly;
    }
    .ImgP2 img{
        width: 300px;
        height: 150px;
        border: 2px solid rgb(255, 255, 255);
        cursor: pointer;
    }
    .Aboutme{
        font-size: 40px;
    }
}